<h1>Formulario de Creacion Clientes</h1>
<p>Crear nuevo Cliente</p>
<form
        action="/panaderia/crear"
        method="post"
>

    <label for="nombreId">Nombre</label>
    <input id="nombreId" name="nombre" type="text">

    <label for="edad">Edad</label>
    <input id="edad" name="edad" type="number">
    <br>
    <br>

    <label for="cedula">Cedula</label>
    <input id="cedula" name="cedula" type="numbe">
    <br>
    <br>

    <button type="reset">Limpiar</button>
    <!--<button type="submit">Submit</button>-->

    <a href="/panaderia/crear"><button type="button">Cancelar</button></a>

    <button>Enviar informacion</button>

</form>
