<h1>Formulario de Actualización</h1>
<p>Editar Cliente</p>
<form
        action="/panaderia/editar/<%=clienteaEditar.id%>"
        method="post"
>

    <label for="nombre">Nombre</label>
    <input id="nombre" name="nombre" type="text" value="<%=clienteaEditar.nombre%>">
    <br>
    <br>

    <label for="edad">Edad</label>
    <input id="edad" name="edad" type="number" value="<%=clienteaEditar.edad%>">
    <br>
    <br>

    <label for="cedula">Cedula</label>
    <input id="cedula" name="cedula" type="text" value="<%=clienteaEditar.cedula%>">
    <br>
    <br>

    <button type="reset">Limpiar</button>

    <a href="/panaderia/lista"><button type="button">Cancelar</button></a>

    <button>Enviar informacion</button>

</form>
