<style>
    table,tr,td, th{
        border: solid black 1px
    }
</style>

<h1>Cliente</h1>

<a href="/panaderia/crear">
    <button>Crear</button>
</a>

<table>
    <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Cedula</th>
    </tr>
    <% arregloCliente.forEach((cliente)=>{%>
    <tr>
        <td><%=cliente.nombre%></td>
        <td><%=cliente.edad%></td>
        <td><%=cliente.cedula%></td>
        <td>
            <br>
            <!--<form action="/libros/editar" method="post">-->
            <form action="/panaderia/editar/<%=cliente.id%>" method="get">
                <input id="id" name="id" type="number" value="<% cliente.id %>" hidden>
                <button>Editar</button>
            </form>
            <!--</form>-->
        </td>
    </tr>
    <%}) %>
</table>
